<template>
<div>
  <div class="protec_img" v-if="accueil[0]">
    <div class="stop_it">
      <div class="bloc_photo_home" :style="{ backgroundImage: 'url(\'' + accueil[0].acf.image_plein_ecran.url + '\')' }"/>
    </div>
  </div>


  <div class="text_begin" v-if="accueil[0]">
    <div class="changement">

      <section>
        <div class="layer"> 
          <div class="bloc_1_presentation">
            <p class="bloc_left_presentation">
                {{accueil[0].acf.presentation_docteur.sous_titre_presentation}}
            </p>
            <h1 class="bloc_right_presentation">
              {{accueil[0].acf.presentation_docteur.bloc_1_presentation}}
            </h1>
          </div>
        </div>
        <div class="textBox">
          <div class="layer"> 
            <div class="bloc_1_presentation">
              <p class="bloc_left_presentation">
                  {{accueil[0].acf.presentation_docteur.sous_titre_presentation}}
              </p>
              <h1 class="bloc_right_presentation">
                {{accueil[0].acf.presentation_docteur.bloc_1_presentation}}
              </h1>
            </div>
          </div>
        </div>
      </section>
      

      <div class="bloc_three_columns hover_this">
        <div class="column_one" v-html="accueil[0].acf.presentation_docteur.bloc_2_presentation.colonne_1"></div>
        <div class="column_one_bis">
          <div class="stop_it">
            <div class="bloc_photo_home" :style="{ backgroundImage: 'url(\'' + accueil[0].acf.image_plein_ecran.url + '\')' }"/>
          </div>
        </div>
        <div class="column_two" v-html="accueil[0].acf.presentation_docteur.bloc_2_presentation.colonne_2"></div>
        <div class="column_three" v-html="accueil[0].acf.presentation_docteur.bloc_2_presentation.colonne_3"></div>
      </div>
    </div>
  </div>

</div>
</template>

<script>
  import { mapState } from 'vuex';

  export default {
    computed: {
      ...mapState([
        "accueil",
      ]) 
    },

    
    mounted() {  
        window.onscroll = () => {
          let pageY = window.pageYOffset;
          let main = document.querySelector(".protec_img");
          let cache = document.querySelector('section .textBox');
          let imageBloc = document.querySelector(".img_in");
          let test = pageY * .0058;
          let movePasLePath = 61 + pageY * .025;
          let wesh = 30.1 + pageY * .022;


          if(window.matchMedia("(min-width: 1800px)").matches) {
             let test = pageY * .007;
              imageBloc.style.backgroundPositionY = `${(9) + (-test)}vw`;
               main.style.transform = `translateY(${pageY * .010}vw)`;
              cache.style.webkitClipPath = 'polygon(0 0, 100% 0%, 100% '+movePasLePath+'%, 0 '+movePasLePath+'%)';
            } else if(window.matchMedia("(max-width: 768px)").matches) {
              let test = pageY * .010;
              main.style.transform = `translateY(${pageY * .045}vw)`;
              imageBloc.style.backgroundPositionY = `${(9) + (-test)}vw`;
              cache.style.webkitClipPath = 'polygon(0 0, 100% 0%, 100% '+wesh+'%, 0 '+wesh+'%)';
            } else if(window.matchMedia("(max-width: 400px)").matches) {
              let wesh = 30 + pageY * .023;
              main.style.transform = `translateY(${pageY * .045}%)`;
              cache.style.webkitClipPath = 'polygon(0 0, 100% 0%, 100% '+wesh+'%, 0 '+wesh+'%)';
            } else {   
              imageBloc.style.backgroundPositionY = `${(5) + (-test)}vw`;
              main.style.transform = `translateY(${pageY * .010}vw)`;
              cache.style.webkitClipPath = 'polygon(0 0, 100% 0%, 100% '+movePasLePath+'%, 0 '+movePasLePath+'%)';
            }
        };
    },

    methods: {
      cursorE() {
          let mouseCursor = document.querySelector(".cursor");
          let imG = document.querySelectorAll('.img_in');

          window.addEventListener("mousemove", cursor);
          function cursor(e) {
            mouseCursor.style.top = e.pageY + 'px';
            mouseCursor.style.left = e.pageX + 'px';
          }

          imG.forEach(link => {
            link.addEventListener('mouseover', () => {
              mouseCursor.classList.add('grow')
            })
          })
          imG.forEach(link => {
            link.addEventListener('mouseleave', () => {
              mouseCursor.classList.remove('grow')
            })
          })
        
      }

      // === FEATURE CURSOR (NOT FINISH) == //
      ///////////////////////

      // cursor() {
      //   const image = document.querySelectorAll('.hover_this');
      //   const cursor = document.querySelector('.cursor');

      //   const animateit = function(e) {
      //     const span = this.querySelector('.stop_it');
      //     const { offsetX: x, offsetY: y } = e,
      //     { offsetWidth: width, offsetHeight: height } = this,

      //     move = 75,
      //     xMove = y / width * (move * 2) - move,
      //     yMove = y / width * (move * 2) - move;

      //     span.style.transform = `translate(${xMove}px, ${yMove}px)`;

      //     if(e.type === 'mouseleave') { 
      //       span.style.transform = '';
      //     } 
      //   };

      //   const editCursor = e => {
      //     const { clientX: x, clientY: y } = e;
      //     cursor.style.left = x + 'px';
      //     cursor.style.top = y + 'px';

      //   };

      //   image.forEach(b => b.addEventListener('mousemove', animateit));
      //   image.forEach(b => b.addEventListener('mouseleave', animateit));
      //   window.addEventListener('mousemove', editCursor);
      // }
    }
  }
</script>

<style lang="scss" scoped>
////////////CURSOR/////////
/* .hover_this {
  transition: all 0.3 ease;
}
.cursor {
  pointer-events: none;
  position: fixed;
  padding: 1rem;
  background-color: #000;
  border-radius: 50%;
  mix-blend-mode: difference;
  transition: transform 0.3s ease;
  z-index: 10;
}
.hover_this:hover .cursor {
  transform: translate(-50%, -50%) scale(8);
} */
//////////////////////////

//////////// CURSOR 2 /////////

/* .cursor {
  width: .6rem;
  height: .6rem;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  z-index: 10;
  transform: translate(-50%, -50%);
  pointer-events:none;
  transition: all 0.1s ease;
}

.grow {
  transform: scale(7);
  background: white;
  mix-blend-mode: difference;
} */

//////////////////////////

.protec_img {
  transform: translate(0px ,0px);
  transform: 0.1s linear;
  .stop_it {
      position: relative;
      width: 100%;
      height: 85vh;
      transform: translate(0px ,0px);
    .bloc_photo_home {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transform-origin: center top;
        z-index: -9;  
    }
  }
}


.changement {
  margin-top: -24.5%;
}

.layer {
  color: #fff;
  font-size: 2.5VW;
  margin: 0;
  font-weight: normal;
  width: 100%;
  .bloc_1_presentation {
    /* border: solid red; */
    margin: 0 9.722222222222223VW;
    position: relative;
    .bloc_left_presentation {
      float: left;
      margin: 25px 0 0 0;
      width: 32.88888888888889VH;
      height: 125px;
      font-size: 0.5555555555555556VW;
      text-align: initial;
    }
    .bloc_right_presentation {
      font-size: 2.5VW;
      margin: 0;
      font-weight: normal;
      text-align: initial;
    }
  }
}

section {
  position: relative;
  width: 100%;
  height: 40.1vw;
  overflow: hidden;
}

section .textBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40.1vw;
  background:transparent;
  clip-path: polygon(0 0, 100% 0%, 100% 61%, 0 61%);
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 61%, 0 61%);
}
section .layer,
section .textBox .layer {
  position: absolute;
  top: calc(41% - 100px);
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: #fff;
}

section .layer {
  color: black;
}




.bloc_three_columns {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 40px;
grid-row-gap: 0px;
margin: 0 140px;
padding: 50px 0 120px 0;
color: #3A3A3A;
  div {
    font-size: 1.1111111111111112VW;
  }
}

.column_one { grid-area: 1 / 1 / 2 / 2; line-height: 1.4583333333333333VW; }
.column_one_bis { display: none;}
.column_two { grid-area: 1 / 2 / 2 / 3; line-height: 1.4583333333333333VW; }
.column_three { grid-area: 1 / 3 / 2 / 4; line-height: 1.4583333333333333VW; }
 
 
 //////////////////////////////// UNDER 1466
    @media screen and (max-width: 1150px) {

///////////////////////////////////////////
    }

  @media screen and (max-width: 768px) {
    .full_screen_home {
      position: absolute;
      top: 0;
      width: 100vw;
      z-index: -99;
    }
    .protec_img {
      .stop_it {
          position: relative;
          width: 100%;
          height: 60vh;
        .bloc_photo_home {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: 188%;
            background-position: initial;
            background-repeat: no-repeat;
            transform-origin: center top;
            z-index: -9;
        }
      }
    }
    .text_begin {
      .changement {
        margin-top: -60%;
      }
    }
    .layer {
      color: #fff;
      margin: 0;
      font-weight: normal;
      width: 100%;
      .bloc_1_presentation {
        margin: 0 2.666666666666667VW;
        position: relative;
        .bloc_left_presentation {
          float: initial;
          display: block;
          margin: 0;
          width: 100%;
          height: auto;
          font-size: 2.1333333333333333VW;
          text-align: initial;
          padding-bottom: 30px;
        }
        .bloc_right_presentation {
          font-size: 6.4VW;
          margin: 0;
          font-weight: normal;
          text-align: initial;
        }
      }
    }

    section {
      position: relative;
      width: 100%;
      height: 200vw;
      overflow: hidden;
      margin-bottom: 40px;
    }

    section .textBox {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 200vw;
      background:transparent;
      clip-path: polygon(0 0, 100% 0%, 100% 30%, 0 30%);
      -webkit-clip-path: polygon(0 0, 100% 0%, 100% 30%, 0 30%);
    }
    section .layer,
    section .textBox .layer {
      position: absolute;
      top: calc(13% - 100px);
      width: 100%;
      text-align: center;
      font-size: 20px;
      color: #fff;
    }


    section .layer {
      color: black;
    }

    .bloc_three_columns {
    display: block;
    margin: -300px 10px 0 10px;
    padding: 100px 0 30px 0;
    color: #3A3A3A;
    
      div {
        font-size: 4.266666666666667VW;
        margin-bottom: 30px;
        line-height: 5.05VW;
      }
      .column_one_bis { 
        display: initial;
      }
      .column_two {
        margin-top: 30px;
      }
      .stop_it {
        position: relative;
        width: 100%;
        height: 53.333333333333336VW;
        .bloc_photo_home {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: 240%;
            background-repeat: no-repeat;
            background-position: bottom 0px right -380px;
            transform-origin: center top;
            z-index: -9;
        }
      }
    }
  }

    @media screen and (max-width: 360px) {
      section .layer,
      section .textBox .layer {
        top: calc(17% - 100px);
      }
    }



</style>