<template>
  <div class="template_cms" v-if="pages">
    
    <div v-for="bloc in pages" :key="bloc.id">
      <div v-if="slug === bloc.slug">
        <div v-for="b in bloc.acf.page_du_traitement" :key="b.id">

          <!-- Bloc Photo - Texte - Texte -->
      <div class="cms_bloc" v-if="b.acf_fc_layout === 'bloc_photo_texte_texte' ">
        <div class="image" :style="{'background-image': `url(${b.image})`}"></div>
          <div class="cms_bloc_texte">
            <p class="titre">{{b.titre}}</p>
            <p class="sous_titre">{{b.sous_titre}}</p>
            <div class="flex">
              <div class="col1" v-html="b.colonne_1"></div>
              <div class="col2" v-html="b.colonne_2"></div>
            </div>
          </div>
      </div>
  
  
      <!-- Bloc Texte - Texte - Texte -->
      <div v-if="b.acf_fc_layout === 'bloc_texte_texte_texte' ">
        <div class="cms_bloc_ttt flex">
          <div class="col1 petit_titre">{{b.petit_titre}}</div>
          <div class="col2" v-html="b.colonne_1"></div>
          <div class="col3" v-html="b.colonne_2"></div>
        </div>
      </div>

      <!-- Bloc Photo - Texte -->
      <div class="bloc_question" v-if="b.acf_fc_layout === 'bloc_photo_texte' ">
        <div class="bloc_image_home">
          <img :src="`${b.image}`" alt="">
        </div>
        <div class="bloc_texte_home">
        
          <img class="point_grey_size" src="/img-accueil/point-grey.svg" alt="">
          <h3>{{b.titre}}</h3>
          <p class="sous_titre">{{b.sous_titre}}</p>
          <div v-html="b.paragraphe"></div>
        </div>
      </div>

      <!-- Bloc Photo -->
      <div v-if="b.acf_fc_layout === 'bloc_photo_pleine_largeur' ">
        <div class="bloc_p">
          <div class="image" :style="{'background-image': `url(${b.image})`}"></div>
        </div>
      </div>

      <!-- Bloc Citation centré -->
      <div v-if="b.acf_fc_layout === 'bloc_citation' ">
        <div class="bloc_cc">
          <p class="citation">{{b.citation}}</p>
          <p class="signature">{{b.nom_prenom_titre}}</p>
        </div>
      </div>

      <!-- Bloc Texte - Texte - Photo -->
      <div class="cms_bloc" v-if="b.acf_fc_layout === 'bloc_texte_texte_photo' ">
          <div class="cms_bloc_texte">
            <p class="titre">{{b.titre}}</p>
            <p class="sous_titre">{{b.sous_titre}}</p>
            <div class="flex">
              <div class="col1" v-html="b.colonne_1"></div>
              <div class="col2" v-html="b.colonne_2"></div>
            </div>
          </div>
          <div class="image" :style="{'background-image': `url(${b.image})`}"></div>
        </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
  
  export default {

    computed: {
      ...mapState([
        "pages"
      ]),

      traitement() {
        return this.traitements.find(el => el.slug === this.slug)
      }
    },

    async fetch({store}) {
      await store.dispatch("getPages");
    },
  
    data() {   
      return {
        slug: this.$route.params.slug
      }
    },
    
    
  }
</script>

<style lang="scss" scoped>
.template_cms {
  padding-top: 30px;
  font-family: "DM Sans";
}
.flex {
  display: flex;
}

.cms_bloc {
  display: flex;
  padding-bottom: 89px;
  /* height: 700px; */
  .image {
    width: 40%;
    min-height: 700px;
    background-size: cover;
    background-position: inherit;
  }
  
  .cms_bloc_texte {
    width: 80%;
    max-height: 100%;
    margin: 0 140px; 
    position: relative;
    padding-bottom: 60px;
    font-family: "Nanum Myeongjo";
    color: #3a3a3a;
    .titre {
      font-size: 3.3674963396778916VW;
      padding-bottom: 60px;
      padding-top: 256px;
    }
    .sous_titre {
      font-size: 2.049780380673499VW;
      padding-bottom: 50px;
    }
    .flex {
      .col1 {
        margin-right: 40px;
      }
      .col1, .col2 {
        width: 50%;
        padding-bottom: 60px;
        font-family: "DM Sans";
        font-size: 1.1111111111111112VW;
      }
    }
  }
}
  .cms_bloc_ttt {
    color: #3a3a3a;
    font-size: 1.0248901903367496VW;
    margin: 0 10.248901903367496VW;
    padding-bottom: 106px;
    .col1 {
      width: 20%;
      font-size: 0.5856515373352855VW;
    }
    .col2 {
      margin-right: 40px;
    }
    .col2, .col3 {
      width: 40%;
      font-size: 1.0248901903367496VW;
    }
    ::v-deep .col3 {
        ul li {
          list-style-type: none; /* on annule la puce par défaut */
          background-image: url("/img-accueil/_.svg"); /* on affiche l'image souhaitée */
          background-repeat: no-repeat; /* on annule la répétition par défaut */
          background-position: left center; /* on positionne où l'on veut */
          padding-left: 20px; /* pour éviter la superposition du contenu */
        }
    }
  }

  .bloc_question {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 0px;
    margin: 0 20px;
    position: relative;
    color: #3A3A3A;
    padding-bottom: 20px;
    }

    .bloc_image_home { 
      grid-area: 1 / 1 / 2 / 2; 
    }
    .bloc_texte_home { 
      grid-area: 1 / 2 / 2 / 3; 
      position: absolute;
      bottom: 60px;
      .point_grey_size {
        width: 10px;
        height: 10px;
        color: #3A3A3A;
      }
      h3 {
        padding-top: 50px;
        padding-bottom: 60px;
        font-size: 3.194444444444444VW;
        font-family: "Nanum Myeongjo";
        font-weight: 400;
      }
      .sous_titre {
        font-size: 2.049780380673499VW;
        padding-bottom: 50px;
        font-family: "Nanum Myeongjo";
      }
      div {
        font-size: 1.0248901903367496VW;
        line-height: 1.25VW;
        max-width: 560px;
      }
    }

    .bloc_p {
      margin: 0 1.4641288433382138VW;
      padding-bottom: 100px;
      .image {
        width: 100%;
        height: 680px;
        background-size: cover;
        background-position: center center;
      }
    }

    .bloc_cc {
      padding-bottom: 100px;
      margin: 0 17.569546120058565VW 0 32.210834553440705VW;
      font-family: "DM Sans";
      .citation {
        text-align: center;
        padding-bottom: 50px;
        font-size: 2.5VW;
        font-style: italic;
      }
      .signature {
        text-align: right;
        font-size: 0.9722222222222222VW;
      }
    }

      //////////////////////////////// UNDER 1800px

    @media screen and (min-width: 1800px) {
    ////////////////////////////////////
  .cms_bloc {
      .cms_bloc_texte {
        .titre {
          padding-top: 220px;
        }
      }
    }
  ////////////////////////////////////
  }
  ////////////////////////////////////



    //////////////////////////////// MOBILE

    @media screen and (max-width: 768px) {
    ////////////////////////////////////
    
    .flex {
      display: block;
    }

    .cms_bloc {
      display: block;
      padding-bottom: 20px;
      /* height: 700px; */
      .image {
        width: 100%;
        min-height: 250px;
        background-size: cover;
        background-position: center;
      }
      
      .cms_bloc_texte {
        width: 100%;
        min-height: 700px;
        margin: 0; 
        padding: 0 10px 20px 10px;
        position: relative;
        font-family: "Nanum Myeongjo";
        color: #3a3a3a;
        .titre {
          font-size: 12.266666666666666VW;
          padding-bottom: 30px;
          padding-top: 26px;
        }
        .sous_titre {
          font-size: 7.466666666666668VW;
          padding-bottom: 30px;
        }
        .flex {
          .col1 {
            margin-right: 40px;
          }
          .col1, .col2 {
            width: 100%;
            padding-bottom: 20px;
            font-family: "DM Sans";
            font-size: 4.266666666666667VW;
          }
        }
      }
    }

    .bloc_question {
    display: block;
    margin: 0 10px 40px 10px;
    position: relative;
    color: #3A3A3A;
    padding-bottom: 0;
    }

    .bloc_image_home { 
      width: 75%;
    }
    .bloc_texte_home { 
      position: relative;
      bottom: 0;
      .point_grey_size {
        margin-top: 40px;
      }
      h3 {
        padding: 30px 0;
        font-size: 12.266666666666666VW;
      }
      .sous_titre {
        font-size: 7.466666666666668VW;
        padding-bottom: 30px;
      }
      div {
        font-size: 3.733333333333334VW;
        line-height: 4.8VW;
        max-width: 100%;
      }
    }

    .bloc_p {
      margin: 0 10px;
      padding-bottom: 60px;
      .image {
        width: 100%;
        height: 450px;
      }
    }

    .bloc_cc {
      padding-bottom: 60px;
      margin: 0 10px;
      font-family: "DM Sans";
      .citation {
        text-align: center;
        padding-bottom: 40px;
        font-size: 6.4VW;
        color: #3A3A3A;
      }
      .signature {
        font-size: 3.733333333333334VW;
      }
    }

    .cms_bloc_ttt {
      font-size: 3.733333333333334VW;
      margin: 0;
      padding: 0 10px 60px 10px;
      .col1 {
        width: 100%;
        font-size: 2.1333333333333333VW;
        padding-bottom: 20px;
      }
      .col2 {
        margin-right: 0;
      }
      .col2, .col3 {
        width: 100%;
        font-size: 3.733333333333334VW;
      }
      ::v-deep .col3 {
        padding: 0;
        ul {
          padding: 0;
        }
        ul li {
          padding-left: 40px; /* pour éviter la superposition du contenu */
        }
      }
    }
////////////////////////////
    }
</style>