<template>
  <div class="footer" v-if="accueil[0]">
    <div class="footer_first">
      <!-- <p>Fatigue chronique, surpoids, problèmes musculaires, ... La micronutrition peut détecter ces états de santé intermédiaires générateurs, quelques années plus tard, de maladies (AVC, infarctus, parkinson, ...)</p> -->
      <div class="arrow_micro micronutrition">
        <p class="footer_title"></p>
        <!-- <div class="title_fleche ">
          <img class="full_screen_home arrow1" src="/img-accueil/shape.svg" alt="">
          <img class="full_screen_home arrow2" src="/img-accueil/shape.svg" alt="">
        </div> -->
      </div>
    </div>

    <div class="footer_middle">
      <nuxt-link exact to="/">
      <img class="pastille_logo_white" src="/img-accueil/pastille.svg" alt="">
      </nuxt-link>
    </div>
    <div class="footer_end" v-if="footer[0]">
      <div class="title_fleche contact" v-if="footer[0].acf.visible === true">
        <nuxt-link to="/prendre-rendez-vous">
            <p class="footer_title">Contact</p>
          </nuxt-link>
          <div class="title_fleche">
            <nuxt-link to="/prendre-rendez-vous">
            <img class="full_screen_home arrow1" src="/img-accueil/shape.svg" alt="">
            <img class="full_screen_home arrow2" src="/img-accueil/shape.svg" alt="">
            </nuxt-link>
          </div>
      </div>
      <div >
        <p>Docteur Philippe FREY
          <br>12 avenue de l’aérodrome de Montaudran,
          <br>Bât. D Appt. 004, 31400 Toulouse
          <br>05 34 64 02 06
        </p>
          <br>
        <a href="https://mashvp.com/fr/" target="_blank"><p>Site by Mashvp</p></a>
        <nuxt-link to="/mentions-legales"><p>Mentions légales</p></nuxt-link>
        <nuxt-link to="/politique-de-confidentialite"><p>Politique de confidentalité</p></nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapState } from 'vuex';
  export default {
    computed: {
      ...mapState([
        "accueil",
        "footer"
      ])
    },
  }
</script>

<style lang="scss" scoped>
a {
  color: #FFF;
}
.footer {
  height: 460px;
  background-color: #3a3a3a;
  display: flex;
  padding: 0 140px;
  width: 100%;

  .footer_first,
  .footer_middle,
  .footer_end {
    width: 33%;
    padding-top: 100px;
    color: #FFFFFF;
  }
  .footer_middle {
    text-align: center;
  }
  .footer_title {
    font-size: 2.5VW;
  }
  .pastille_logo_white {
    width: 2.986vw;
    height: auto;
  }
  .micronutrition {
    padding-top: 20px;
  }
  .footer_first {
    .arrow_micro {
    display: flex;
    a {
      color: #FFF;
    }
    .title_fleche {
      position: relative;
      overflow: hidden;
      margin-left: 0px;
      width: 11%;
      height: 1.996vw;
      cursor: pointer;

      .arrow1 {
        width: 1.8055555555555554VW;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .arrow2 {
        width: 1.8055555555555554VW;
        height: auto;
        position: absolute;
        top: 100%;
        left: 0%;
      }
      &:hover .arrow1{
        animation: arrow_micro 0.5s linear forwards;
      }
      &:hover  .arrow2{
        animation: arrow_2_micro 0.5s linear forwards;
      }
      @keyframes arrow_micro {
        0% {
          top: 50%;
          left: 50%;
        }
        100% {
          top: -100%;
          left: 190%;
        }
      }
      @keyframes arrow_2_micro {
        0% {
        top: 150%;
        left: -50%;
        }
        100% {
          top: 4%;
          left: 19%;
        }
      }
    }
    }
  }
  .contact {
    padding-bottom: 30px;

    &:hover .arrow1{
      animation: arrow 0.5s linear forwards;
    }
    &:hover  .arrow2{
      animation: arrow_2 0.5s linear forwards;
    }
  }
  .title_fleche {
    display: flex;
    a {
      color: #FFF
    }
    .title_fleche {
      position: relative;
      overflow: hidden;
      width: 15%;

      .arrow1 {
        width: 1.8055555555555554VW;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .arrow2 {
        width: 1.8055555555555554VW;
        height: auto;
        position: absolute;
        top: 100%;
        left: 0%;
      }

      &:hover .arrow1{
        animation: arrow 0.5s linear forwards;
      }
      &:hover  .arrow2{
        animation: arrow_2 0.5s linear forwards;
      }
      @keyframes arrow {
        0% {
          top: 50%;
          left: 50%;
        }
        100% {
          top: -100%;
          left: 160%;
        }
      }
      @keyframes arrow_2 {
        0% {
        top: 150%;
        left: -50%;
        }
        100% {
          top: 24%;
          left: 27%;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
    .footer {
      height: 100%;
      display: block;
      padding: 0 10px;

      .footer_first,
      .footer_middle,
      .footer_end {
        width: 100%;
        color: #FFFFFF;
      }
      .footer_first {
        display: inherit;
        .arrow_micro {
            .title_fleche {
              height: 7.200vw;
              width: 6.190476190476191VW;
              .arrow1 {
                width: 6.190476190476191VW;
                height: auto;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
              .arrow2 {
                width: 6.190476190476191VW;
                height: auto;
                position: absolute;
                top: 100%;
                left: 0%;
              }
              &:hover .arrow1{
                animation: none;
              }
              &:hover  .arrow2{
                animation: none;
              }
            }
          }
      }
      .footer_end {
        padding-bottom: 45px;
      }
      .footer_middle {
        text-align: center;
      }
      .footer_title {
        font-size: 8.571428571428571VW;
      }
      .pastille_logo_white {
        width: 11.467vw;
        height: auto;
      }
      .contact {
        padding-bottom: 30px;
        &:hover .arrow1{
          animation: none;
        }
        &:hover  .arrow2{
          animation: none;
        }
      }
      .title_fleche {
        display: flex;

        .title_fleche {
          position: relative;
          overflow: hidden;
          width: 15%;
          margin: 0;

          .arrow1 {
            width: 6.190476190476191VW;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          .arrow2 {
            width: 6.190476190476191VW;
            height: auto;
            position: absolute;
            top: 100%;
            left: 0%;
          }
        }
      }
    }
  }

</style>
