<template>
  <div>
    <!-- <h1>Prendre rendez vous</h1> -->
    <div class="w_contact" v-if="pages">
      <!----------------------------------------------------- -->
      <div class="contact_img">
        <div class="i1" v-for="p in pages" :key="p.id">
          <div class="i2" v-if="p.slug === 'prendre-rendez-vous'">
            <div
              class="image"
              :style="{ 'background-image': `url(${p.acf.image})` }"
            ></div>
          </div>
        </div>
      </div>

      <div class="contact_form">
        <!-- Formulaire Prise RDV -->
        <div v-for="p in pages" :key="p.id">
          <div v-if="p.slug === 'prendre-rendez-vous'">
            <p class="form_title_1">{{ p.acf.titre_1 }}</p>
          </div>
        </div>
        <form id="form_rdv" method="post">
          <div class="rang_left">
            <p>
              <input
                id="name_rdv"
                v-model="form_rdv.name_rdv"
                type="text"
                name="name_rdv"
                placeholder="Nom, Prenom *"
              />
            </p>

            <p>
              <input
                id="mail_rdv"
                v-model="form_rdv.mail_rdv"
                type="email"
                name="mail_rdv"
                placeholder="Adresse mail *"
              />
            </p>
            <p>
              <input
                id="telephone"
                v-model="form_rdv.telephone"
                type="text"
                name="telephone"
                placeholder="Numero de téléphone"
              />
            </p>
            <p>
              <date-pick
                v-model="form_rdv.date"
                :displayFormat="'DD.MM.YYYY'"
              ></date-pick>
            </p>
          </div>
          <div class="rang_right_rdv">
            <div v-if="traitements">
              <select v-model="selected_soin" class="input_select">
                <option disabled value="">Sélectionner le soin souhaité</option>
                <option v-for="t in traitements" :key="t.id">
                  <p v-html="t.title"></p>
                </option>
              </select>
            </div>

            <input
              class="input_message"
              name="infos"
              type="text"
              v-model="form_rdv.infos"
              placeholder="Informations complémentaires"
            />
            <div class="rgbd_rights">
              <div class="select_cookie">
                <label class="container">
                  <input type="checkbox" v-model="ok" />
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="texte_cookie">
                <p>
                  En soumettant ce formulaire, j'accepte que les informations
                  saisies dans ce formulaire soient utilisées, pour permettre de
                  me recontacter, dans le cadre de la relation commerciale qui
                  découle de cette demande.
                </p>
              </div>
            </div>

            <div class="dispo_envoyer">
              <input
                class="input_envoyer"
                type="submit"
                value="Envoyer"
                @click.prevent="submitRdv"
              />
              <div class="arrow_anim">
                <img
                  class="shape_contact arrow1"
                  src="/img-accueil/shape-contact.svg"
                  alt=""
                />
                <img
                  class="shape_contact arrow2"
                  src="/img-accueil/shape-contact.svg"
                  alt=""
                />
              </div>
            </div>

            <div
              class="message_sent"
              v-if="response_form_rdv.status === 'mail_sent'"
            >
              <p>{{ response_form_rdv.message }}</p>
            </div>
            <div
              class="message_failed"
              v-if="response_form_rdv.status === 'validation_failed'"
            >
              <p>Les champs avec un * sont obligatoires</p>
            </div>
          </div>
        </form>

        <!-- Formulaire Contact -->

        <div v-if="pages">
          <div v-for="p in pages" :key="p.id">
            <div v-if="p.slug === 'prendre-rendez-vous'">
              <div v-if="p.acf.contact_visibilite === true">
                <p class="form_title_2">{{ p.acf.titre_2 }}</p>

                <form id="form_contact" method="post">
                  <div class="rang_left">
                    <p>
                      <input
                        id="nameTest"
                        v-model="form.nameTest"
                        type="text"
                        name="nameTest"
                        placeholder="Nom, Prenom *"
                      />
                    </p>

                    <p>
                      <input
                        id="mail"
                        v-model="form.mail"
                        type="email"
                        name="mail"
                        placeholder="Adresse mail *"
                      />
                    </p>
                  </div>
                  <div class="rang_right">
                    <input
                      class="input_message"
                      name="message"
                      type="text"
                      v-model="form.message"
                      placeholder="Votre message *"
                    />

                    <div class="rgbd_rights">
                      <div class="select_cookie">
                        <label class="container">
                          <input type="checkbox" v-model="ok2" />
                          <span class="checkmark"></span>
                        </label>
                      </div>
                      <div class="texte_cookie">
                        <p>
                          En soumettant ce formulaire, j'accepte que les
                          informations saisies dans ce formulaire soient
                          utilisées, pour permettre de me recontacter, dans le
                          cadre de la relation commerciale qui découle de cette
                          demande.
                        </p>
                      </div>
                    </div>

                    <div class="dispo_envoyer">
                      <input
                        class="input_envoyer"
                        type="submit"
                        value="Envoyer"
                        @click.prevent="submitForm"
                      />
                      <div class="arrow_anim">
                        <img
                          class="shape_contact arrow1"
                          src="/img-accueil/shape-contact.svg"
                          alt=""
                        />
                        <img
                          class="shape_contact arrow2"
                          src="/img-accueil/shape-contact.svg"
                          alt=""
                        />
                      </div>
                    </div>
                    <div
                      class="message_sent"
                      v-if="response_form_contact.status === 'mail_sent'"
                    >
                      <p>{{ response_form_contact.message }}</p>
                    </div>
                    <div
                      class="message_failed"
                      v-if="
                        response_form_contact.status === 'validation_failed'
                      "
                    >
                      <p>Les champs avec un * sont obligatoires</p>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!--################################################ -->
        <div class="placement_end">
          <div class="contact_img_second">
            <div class="i1" v-for="p in pages" :key="p.id">
              <div class="i2" v-if="p.slug === 'prendre-rendez-vous'">
                <div
                  class="image"
                  :style="{ 'background-image': `url(${p.acf.image_2})` }"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!----------------------------------------------------- -->
  </div>
</template>

<script>
import { mapState } from 'vuex';
import DatePick from 'vue-date-pick';
import 'vue-date-pick/dist/vueDatePick.css';

export default {
  components: { DatePick },

  data: function () {
    return {
      ok: '',
      ok2: '',
      response_form_rdv: '',
      response_form_contact: '',
      selected_soin: '',
      form_rdv: {
        name_rdv: '',
        mail_rdv: '',
        telephone: '',
        date: 'Sélectionner la date souhaité*',
        infos: '',
      },
      form: {
        nameTest: '',
        mail: '',
        message: '',
      },
      errors: [],
      errors_contact: [],
      url: `https://api.docteur-frey-esthetique.fr/wp-json/contact-form-7/v1/contact-forms/143/feedback`,
      url_rdv: `https://api.docteur-frey-esthetique.fr/wp-json/contact-form-7/v1/contact-forms/145/feedback`,
    };
  },

  methods: {
    submitRdv() {
      const fd = new FormData();
      fd.set('name_rdv', this.form_rdv.name_rdv);
      fd.set('mail_rdv', this.form_rdv.mail_rdv);
      fd.set('telephone', this.form_rdv.telephone);
      fd.set('date', this.form_rdv.date);
      fd.set('soin', this.selected_soin);
      fd.set('infos', this.form_rdv.infos);
      fd.set('ok', this.ok);

      // if (this.ok === true ) {
      // fd.set('ok', 'Oui j\'autorise l\'utilisation de mes données');
      // } else {
      // fd.set('ok', 'Non, je n\'autorise pas l\'utilisation de mes données');
      // }

      const body = new URLSearchParams(fd);
      fetch(this.url_rdv, { method: 'POST', body })
        .then((response) => response.ok && response.json())
        .then((json) => {
          this.response_form_rdv = json;
          this.errors = this.response_form_rdv.invalidFields;
        });
    },
    submitForm() {
      const fd = new FormData();
      fd.set('nameTest', this.form.nameTest);
      fd.set('mail', this.form.mail);
      fd.set('message', this.form.message);
      // if (this.ok2 === true ) {
      //   fd.set('ok2', 'Oui j\'autorise l\'utilisation de mes données');
      // } else {
      //   fd.set('ok2', 'Non, je n\'autorise pas l\'utilisation de mes données');
      // }
      const body = new URLSearchParams(fd);
      fetch(this.url, { method: 'POST', body })
        .then((response) => response.ok && response.json())
        .then((json) => {
          this.response_form_contact = json;
          this.errors_contact = this.response_form_contact.invalidFields;
        });
    },
  },

  computed: {
    ...mapState(['pages', 'traitements']),
  },
};
</script>


<style lang="scss" scoped>
@import 'vue-date-pick/src/vueDatePick.scss';

h1 {
  text-align: center;
}
.w_contact {
  display: flex;
  margin: 8.88888888888889vw 16.666666666666664vw 50px 0;
}

.contact_img {
  width: 40%;
  height: 700px;
  padding-right: 40px;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  .i1,
  .i2 {
    padding-right: 40px;
    width: 100%;
    height: 700px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.placement_end {
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 100%;
  height: 650px;
  margin-top: 50px;
}
.contact_img_second {
  width: 66.7%;
  height: 700px;
  padding-right: 0px;
  padding-bottom: 100px;
  position: absolute;
  top: 0px;
  right: -33.5%;
  overflow: hidden;
  .i1,
  .i2 {
    padding-right: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.contact_form {
  width: 60%;
  .form_title_1 {
    font-size: 3.194444444444444vw;
    font-family: 'Nanum Myeongjo';
    padding-bottom: 30px;
  }
  .form_title_2 {
    font-size: 3.194444444444444vw;
    font-family: 'Nanum Myeongjo';
    padding-bottom: 30px;
    padding-top: 30px;
  }
  #form_contact,
  #form_rdv {
    display: flex;
    justify-content: space-between;
    .rang_left {
      width: 50%;
      padding-right: 40px;

      input {
        color: #ffffff;
        width: 100%;
        padding: 16px 20px;
        margin-bottom: 20px;
        background-color: #a9a9a9;
        border: none;
        font-size: 0.9722222222222222vw;
        &::placeholder {
          color: #ffffff;
        }
        &:focus {
          outline: none;
          border: none;
        }
      }
    }
    .rang_right {
      width: 52%;
      .input_message {
        padding: 16px 20px 10.833333333333334vw 20px;
        width: 100%;
        background-color: #a9a9a9;
        border: none;
        font-size: 0.9722222222222222vw;
        color: #ffffff;
        border-radius: 0px;
        &::placeholder {
          color: #ffffff;
        }
        &:focus {
          outline: none;
          border: none;
        }
      }
      .dispo_envoyer {
        padding: 20px 0 10px 0;
        text-align: right;
        cursor: pointer;
        display: flex;
        .input_envoyer {
          color: #ffffff;
          border: none;
          cursor: pointer;
          font-size: 2.5vw;
          color: #a9a9a9;
          background: transparent;
          &:focus {
            outline: none;
            border: none;
          }
        }
        .arrow_anim {
          position: relative;
          overflow: hidden;
          margin-left: 20px;
          width: 11%;
          display: flex;
          img {
            width: 1.8055555555555554vw;
            padding-top: 20px;
            vertical-align: sub;
          }
          .arrow1 {
            width: 1.8055555555555554vw;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding-bottom: 13px;
          }
          .arrow2 {
            width: 1.8055555555555554vw;
            height: auto;
            position: absolute;
            top: 100%;
            left: 0%;
            padding-bottom: 13px;
          }

          @keyframes arrow {
            0% {
              top: 50%;
              left: 50%;
            }
            100% {
              top: -100%;
              left: 190%;
            }
          }
          @keyframes arrow_2 {
            0% {
              top: 150%;
              left: -190%;
            }
            100% {
              top: -16%;
              left: 17%;
            }
          }
        }
      }

      .message_sent {
        font-size: 0.972vw;
        color: #edcead;
        width: 95%;
        margin: 0 0 0 auto;
        text-align: right;
      }
      .message_failed {
        font-size: 0.972vw;
        color: red;
        width: 95%;
        margin: 0 0 0 auto;
        text-align: right;
      }
    }
    .rang_right_rdv {
      width: 50%;
      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 16px 0;
        border-radius: 0px;
      }
      .input_select {
        color: #ffffff;
        width: 100%;
        padding: 16px 20px;
        margin-bottom: 20px;
        background-color: #a9a9a9;
        border: none;
        font-size: 0.9722222222222222vw;
        &::placeholder {
          color: #ffffff;
        }
        &:focus {
          outline: none;
          border: none;
        }
      }
      .input_message {
        color: #ffffff;
        padding: 16px 20px 5.972222222222222vw 20px;
        width: 100%;
        background-color: #a9a9a9;
        border: none;
        font-size: 0.9722222222222222vw;
        border-radius: 0px;
        &::placeholder {
          color: #ffffff;
        }
        &:focus {
          outline: none;
          border: none;
        }
      }

      .message_sent {
        font-size: 0.972vw;
        color: #edcead;
        width: 95%;
        margin: 0 0 0 auto;
        text-align: right;
      }
    }

    .vdpComponent {
      background-color: #a9a9a9;
      width: 100%;
    }
    ::v-deep .vdpComponent.vdpWithInput > input {
      background-color: #a9a9a9;
      border: none;
      color: #ffffff;
      width: 100%;
      padding: 16px 0 16px 20px;
      font-size: 0.9722222222222222vw;
      &:focus {
        outline: none;
        border: none;
      }
    }
    ::v-deep .vdpComponent .vdpClearInput {
      display: none !important;
    }

    /**************
    RGBD
    ***************/

    .rgbd_rights {
      display: flex;
      padding-top: 20px;
      .select_cookie {
        width: 15%;
        /* The container */
        .container {
          display: block;
          position: relative;
          padding-left: 35px;
          margin-bottom: 12px;
          cursor: pointer;
          font-size: 22px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }

        /* Hide the browser's default checkbox */
        .container input {
          color: #ffffff;
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
        }

        /* Create a custom checkbox */
        .checkmark {
          position: absolute;
          top: 0;
          left: 0;
          height: 15px;
          width: 15px;
          background-color: #edcead;
        }

        /* When the checkbox is checked, add a blue background */
        .container input:checked ~ .checkmark {
          background-color: #edcead;
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
          content: '';
          position: absolute;
          display: none;
        }

        /* Show the checkmark when checked */
        .container input:checked ~ .checkmark:after {
          display: block;
        }

        /* Style the checkmark/indicator */
        .container .checkmark:after {
          left: 5px;
          top: 1px;
          width: 5px;
          height: 10px;
          border: solid white;
          border-width: 0 2px 2px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
      .texte_cookie {
        width: 85%;
        font-size: 0.6944444444444444vw;
        color: #a9a9a9;
      }
    }
    .dispo_envoyer {
      text-align: right;
      padding: 20px 0 10px 0;
      cursor: pointer;
      display: flex;

      .input_envoyer {
        border: none;
        cursor: pointer;
        font-size: 2.5vw;
        color: #a9a9a9;
        background: transparent;
        padding: 0;

        &:focus {
          outline: none;
          border: none;
        }
      }
      .arrow_anim {
        position: relative;
        overflow: hidden;
        margin-left: 20px;
        width: 11%;
        display: flex;
        img {
          width: 1.8055555555555554vw;
          padding-top: 20px;
          vertical-align: sub;
        }
        .arrow1 {
          width: 1.8055555555555554vw;
          height: auto;
          position: absolute;
          top: 50%;
          left: 50%;
          padding-bottom: 13px;
          transform: translate(-50%, -50%);
          /* animation: animate 2s linear infinite; */
        }
        .arrow2 {
          width: 1.8055555555555554vw;
          height: auto;
          position: absolute;
          padding-bottom: 13px;
          top: 100%;
          left: 0%;
        }

        &:hover .arrow1 {
          animation: arrow 0.5s linear forwards;
        }
        &:hover .arrow2 {
          animation: arrow_2 0.5s linear forwards;
        }
      }
      .shape_contact {
        width: 1.8055555555555554vw;
        padding-top: 20px;
        vertical-align: sub;
      }
    }

    .message_failed {
      font-size: 0.972vw;
      color: red;
      width: 95%;
      margin: 0 0 0 auto;
      text-align: right;
    }

    .errors {
      color: #edcead;
      p {
        padding-bottom: 8px;
      }
    }
  }
}

//////////////////////////////// MOBILE

@media screen and (max-width: 768px) {
  ////////////////////////////////////

  .w_contact {
    display: block;
    margin: 40px 0 0 0;
  }
  .contact_img {
    width: 100%;
    height: 250px;
    padding-right: 0px;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    .i1,
    .i2 {
      padding-right: 0px;
      width: 100%;
      height: 250px;
      position: absolute;
      top: 0;
      left: 0;
    }
    .image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-position-x: 0vw;
    }
  }

  .placement_end {
    width: 100%;
    height: 250px;
    margin: 50px 0;
  }
  .contact_img_second {
    width: 100%;
    height: 250px;
    padding-right: 0px;
    padding-bottom: 100px;
    position: absolute;
    top: 0px;
    right: 0;
    overflow: hidden;
    .i1,
    .i2 {
      padding-right: 0px;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    .image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-position-x: 0vw;
    }
  }

  .contact_form {
    width: 100%;
    padding: 20px 10px 0 10px;
    .form_title_1 {
      font-size: 12.266666666666666vw;
      padding-bottom: 20px;
    }
    .form_title_2 {
      font-size: 12.266666666666666vw;
      padding-bottom: 20px;
      padding-top: 20px;
    }
    #form_contact,
    #form_rdv {
      display: block;
      .rang_left {
        width: 100%;
        padding-right: 0;

        input {
          color: #ffffff;
          width: 100%;
          padding: 16px 20px;
          margin-bottom: 20px;
          background-color: #a9a9a9;
          border: none;
          border-radius: 0;
          font-size: 3.733333333333334vw;
          &::placeholder {
            color: #ffffff;
          }
          &:focus {
            outline: none;
            border: none;
          }
        }
      }
      .rang_right {
        width: 100%;
        .input_message {
          padding: 16px 20px 41.6vw 20px;
          width: 100%;
          background-color: #a9a9a9;
          border: none;
          font-size: 3.733333333333334vw;
          color: #ffffff;
          border-radius: 0px;
          &::placeholder {
            color: #ffffff;
          }
          &:focus {
            outline: none;
            border: none;
          }
        }
        .dispo_envoyer {
          padding: 20px 0 60px 0;
          cursor: pointer;
          display: flex;
          justify-content: flex-end;
          .arrow_anim {
            position: relative;
            overflow: hidden;
            width: 9%;
            margin: 0;
            .arrow1 {
              width: 6.190476190476191vw;
              height: auto;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
            .arrow2 {
              width: 6.190476190476191vw;
              height: auto;
              position: absolute;
              top: 100%;
              left: 0%;
            }
          }
          .input_envoyer {
            color: #ffffff;
            border: none;
            cursor: pointer;
            font-size: 9.6vw;
            color: #a9a9a9;
            background: transparent;
            &:focus {
              outline: none;
              border: none;
            }
          }
          .shape_contact {
            width: 6.933333333333333vw;
            padding-top: 20px;
            vertical-align: sub;
          }
        }
        .message_sent {
          font-size: 3.733333333333334vw;
          width: 95%;
        }
        .message_failed {
          font-size: 3.733333333333334vw;
          width: 95%;
          p {
            padding-bottom: 60px;
          }
        }
      }
      .rang_right_rdv {
        width: 100%;
        padding-top: 20px;

        .input_select {
          color: #ffffff;
          width: 100%;
          padding: 16px 20px;
          margin-bottom: 20px;
          background-color: #a9a9a9;
          border: none;
          font-size: 3.733333333333334vw;
          border-radius: 0;
        }
        .input_message {
          padding: 16px 20px 22.933333333333334vw 20px;
          width: 100%;
          font-size: 3.733333333333334vw;
          border-radius: 0px;
        }

        .message_sent {
          font-size: 3.733333333333334vw;
        }
      }

      .vdpComponent {
        width: 100%;
      }
      ::v-deep .vdpComponent.vdpWithInput > input {
        width: 100%;
        padding: 16px 0 16px 20px;
        font-size: 3.733333333333334vw;
      }

      /**************
    RGBD
    ***************/

      .rgbd_rights {
        display: flex;
        padding-top: 20px;
        .texte_cookie {
          width: 100%;
          font-size: 2.666666666666667vw;
          color: #a9a9a9;
        }
      }
      .dispo_envoyer {
        text-align: right;
        padding: 20px 0 10px 0;
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
        .input_envoyer {
          border: none;
          cursor: pointer;
          font-size: 9.6vw;
          color: #a9a9a9;
          background: transparent;
          &:focus {
            outline: none;
            border: none;
          }
        }
        .arrow_anim {
          position: relative;
          overflow: hidden;
          width: 15%;
          margin: 0;
          .arrow1 {
            width: 6.190476190476191vw;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          .arrow2 {
            width: 6.190476190476191vw;
            height: auto;
            position: absolute;
            top: 100%;
            left: 0%;
          }
        }
        .shape_contact {
          width: 6.933333333333333vw;
          padding-top: 20px;
          vertical-align: sub;
        }
      }

      .message_failed {
        font-size: 3.733333333333334vw;
        p {
          padding-bottom: 60px;
        }
      }

      .errors {
        color: #edcead;
        p {
          padding-bottom: 8px;
        }
      }
    }
  }

  ////////////////////////////////////
}
</style>
