<template>

    <div class="bloc_question" v-if="accueil[0]">
      
      <!-- Test parallax -->
      <div class="container_img">
          <div class="img_in" :style="{ backgroundImage: 'url(\'' + accueil[0].acf.comment_vieillit_le_visage.image.url + '\')' }"></div>
      </div>
      <!-- ################ -->
      <div class="bloc_texte_home" >
        <img class="point_grey_size" src="/img-accueil/point-grey.svg" alt="">
        <h3>{{accueil[0].acf.comment_vieillit_le_visage.titre}}</h3>
        <div v-html="accueil[0].acf.comment_vieillit_le_visage.description"></div>
      </div>
    </div>

</template>

<script>
  import { mapState } from 'vuex';
  export default {
    computed: {
      ...mapState([
        "accueil",
      ])   
    },

    
  }
</script>

<style lang="scss" scoped>
.bloc_question {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 40px;
grid-row-gap: 0px;
margin: 0 20px;
position: relative;
color: #3A3A3A;
padding-bottom: 20px;
height: 47.22222222222222VW;
}

.container_img {
  grid-area: 1 / 1 / 2 / 2; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .img_in {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 108%;
    background-position-x: 0vw;
  }
}

.bloc_image_home { 
  grid-area: 1 / 1 / 2 / 2; 
}
.bloc_texte_home { 
  grid-area: 1 / 2 / 2 / 3; 
  position: absolute;
  bottom: 60px;
  .point_grey_size {
    width: 10px;
    height: 10px;
    color: #3A3A3A;
  }
  h3 {
    padding-top: 50px;
    padding-bottom: 60px;
    font-size: 3.194444444444444VW;
    font-family: "Nanum Myeongjo";
    font-weight: 400;
  }
  div {
    font-size: 0.9722222222222222VW;
    line-height: 1.25VW;
  }
}

  @media screen and (max-width: 768px) {
    .bloc_question {
      display: block;
      margin: 0 10px;
      position: inherit;
      color: #3A3A3A;
      padding-bottom: 20px;
      height: 100%;
      }
      .bloc_texte_home { 
          grid-area: 1 / 2 / 2 / 3; 
          position: inherit;
          padding-top: 50px;
          h3 {
            padding-bottom: 60px;
            font-size: 12.266666666666666VW;
            font-family: "Nanum Myeongjo";
            font-weight: 400;
          }
          div {
            font-size: 3.733333333333334VW;
            line-height: 5.05VW;;
            padding-bottom: 20px;
          }
        }
        .bloc_image_home { 
          grid-area: 1 / 1 / 2 / 2; 
        }
        .container_img {
          grid-area: 1 / 1 / 2 / 2; 
          position: initial;
          top: 0;
          left: 0;
          width: 100%;
          overflow: hidden;
          height: 94.66666666666667VW;
        }
  }
</style>