<template>
  <div v-if="traitements">
    <div class="container">
      <!-- Items -->
      <div class="item" v-for="t in traitements" :key="t.id">
        <div class="trait"></div>
        <input type="checkbox" :id="`box-` + t.id">
        <label :for="`box-` + t.id">
          <h2>{{t.acf.titre_du_groupe_de_soins}}</h2>
        </label>
        <div class="sub_item" v-if="t.acf.explications_traitement">
          <p class="title_sub">{{t.acf.explications_traitement.titre}}</p>
          <span class="column_one_sub" v-html="t.acf.explications_traitement.explication_colonne_1"></span>
          <span class="column_two_sub" v-html="t.acf.explications_traitement.explication_colonne_2"></span>
        </div>
        
        
        <div class="redirection" v-if="t.acf.explications_traitement.lien_vers_les_sous_soins">
          <div v-for="l in t.acf.explications_traitement.lien_vers_les_sous_soins" :key="l.id">
            <nuxt-link :to="`/`+ l.lien_vers_page.post_name" target="_blank">
              <p>{{l.lien_vers_page.post_title}}</p>
              <img class="size_line"  src="/img-accueil/line.svg" alt="">
              <img class="size_line_mob"  src="/img-accueil/line-mob.svg" alt="">
            </nuxt-link>
          </div>
        </div> 
        <div v-else></div>

        <div class="bloc_image_texte" >
          <p class="title_sub">{{t.acf.explications_traitement.titre_indications}}</p>

            <!-- //////////// -->
  
          <div class="together_bloc" v-for="(bloc, index) in t.acf.explications_traitement.blocs_indications" :key="bloc.id">
            <!-- Bloc 1 -->

            <div 
            v-observe-visibility="visibilityChanged"
            class="image" 
            :style="{'background-image': `url(${bloc.image.url})`}"
            ></div>
            <!-- Bloc 2 -->
            <div 
            class="div2"
            v-observe-visibility="visibilityTwo"
            >
              <p class="number">0{{ index + 1 }}</p>
              <div class="test">
              <div class="bloc_resume_indications" v-if="bloc.resume_indications"  v-html="bloc.resume_indications"></div>
              <div class="bot_resume">
                <div class="duree">{{bloc.duree_defficacite}}</div>
                <div class="rdv">
                  <nuxt-link :to="bloc.url_bouton_rendez_vous">
                  <p>{{bloc.bouton_rendez_vous}}</p>
                  </nuxt-link>
                </div>
              </div>
              </div>
            </div>
          </div>
          <!-- //////////// -->
        </div>
        
      </div>

      
      
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
  export default {
    
    data: function () {
          return {
            isVisible: true,
          }
        },
    computed: {
      ...mapState([
        "menu",
        "traitements"
      ]), 
    },
    methods: {
      visibilityChanged(isVisible, entry) {
        if(entry.isIntersecting) {
          entry.target.style.transform= "translateX(0%)" 
        }
      },
      visibilityTwo(isVisible, entry) {
        if(entry.isIntersecting) {
          entry.target.style.transform= "translateX(0%)" 
        }
      },
    }
    
  }

</script>

<style lang="scss" scoped>




/* Toggle List */
.container {
  padding: 0 0 60px 0;
  margin: 2.083333333333333VW 0;
  color: #3A3A3A;

	.item {
		width: 100%;
		input[type="checkbox"] {
			display: none;
			&:checked {
				& + label {
					&:after {
						content: "Réduire";
					}
					& + div {
						display: flex;
					}
          & + div + .redirection {
						display: block;
            div {
              display: flex;
              justify-content: flex-end;
              padding-bottom: 20px;
            }
					}

          & + div + div + div {
						display: block;
					}
          & + div + div + div {
            .together_bloc {
						display: grid;
            div {
              display: initial;
            }
            .bot_resume {
              display: flex;
              justify-content: space-between;
            }
            }
					}
				}
			}
		}
		label {
			display: block;
			width: 52.84722222222222VW;
      margin: 0 auto;   
      border-top: 1px solid #979797;
			position: relative;
			padding: 19px 0;
			cursor: pointer;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
      h2 {
        max-width: 38.88888888888889VW;
        font-size: 3.194444444444444VW;
        font-family: "Nanum Myeongjo";
        font-weight: 400;
      }
			&:after {
				content: "Voir plus";
				/* font-weight: bold; */
				position: absolute;
        right: 0;
        bottom: 28px;
        font-size: 0.5555555555555556VW;
        font-family: "DM Sans";
			}
		}
		div {
			display: none;
			border-top: none;
			text-align: left;
		}
	}
}

//////////////////// SOUS ITEM

  .sub_item {
    padding: 60px 0;
    margin: 30px 9.722222222222223VW 0 9.722222222222223VW;
  }

  .title_sub {
    width: 14%;
    font-size: 0.5555555555555556VW;
    padding-bottom: 60px;
  }

  .column_one_sub,
  .column_two_sub {
    width: 43%;
    padding-left: 2.7777777777777777VW;
    font-size: 0.9722222222222222VW;
  }

  .redirection {
    padding-bottom: 50px;
    justify-content: flex-end;
    font-size: 0.9722222222222222VW;
    margin: 30px 9.722222222222223VW 0 9.722222222222223VW;
    a {
      display: flex;
      color: #EDCEAD;
    }
  }

  .size_line {
    width: 2.7777777777777777VW;
    margin-left: 20px;
    display: initial;
  }
  .size_line_mob {
    display: none;
  }

  .bloc_image_texte {
    .title_sub {
      margin: 30px 9.722222222222223VW 0 9.722222222222223VW;
    }
    .div2 {
      background-color: #EDCEAD;
      .resume_indications {
        color: #FFFFFF;
        font-size: 0.9722222222222222VW;
      }
      .bot_resume {
        display: flex;
      }
    }
  }
  .together_bloc:last-child {
    margin-bottom: 60px;
  }
  .together_bloc {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-bottom: 1px;

    .image {
        width: 100%;
        min-height: 400px;
        background-size: cover;
        background-position: center;
        z-index: 1;
        transform: translateX(-100%);
        transition: 1.5s all ease-in-out;
      }
    .div2 {
      padding: 30px 0 0 40px;
      color: #FFFFFF;
      z-index: 0;
      transform: translateX(-198%);
      transition: 2s all ease-in-out;
      .number {
        font-size: 0.5555555555555556VW;
        padding-bottom: 60px;
      }
      ::v-deep .bloc_resume_indications {
        p {
          width: 84%;
          font-size: 0.9722222222222222VW;
        }
      }     
      .bot_resume {
        padding-bottom: 50px;
        .duree {
          font-size: 0.9722222222222222VW;
          padding-top: 4.236111111111112VW;
          font-style: italic;
        }
        .rdv {
          margin-top: 40px;
          margin-right: 49px;
          font-size: 1.6666666666666667VW;
          background-color: #FFFFFF;
          border-radius: 30px;
          color: #EDCEAD;
          p {
            padding: 15px 30px;
            color: #EDCEAD;
          }
        }
      }
    }
    }

    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }

//////////////////////////////// MOBILE

  @media screen and (max-width: 768px) {
    ////////////////////////////////////
    .container {
      padding: 0 0 60px 0;
      /* margin: 59px 2.666666666666667VW 0 2.666666666666667VW; */
      margin: 59px 0 0 0;
      border-top: 1px solid #979797;
      border: none;
      color: #3A3A3A;
      .item:last-child {
        width: 100%;
        margin: 0;
      }
      .item {
        &:last-child {
          border-bottom: 1px solid #979797;
        }
        label {
          /* border: none; */
          width: 95%;
          margin: 0 10px;
          padding: 35px 0 60px 0;
          h2 {
            max-width: 80%;
            font-size: 8VW;
            font-family: "Nanum Myeongjo";
            font-weight: 400;
          }
          &:after {
            font-size: 1.9047619047619049VW;
            padding: 0 10px 0 0;
          }
          input[type="checkbox"] {
            display: none;
            padding: 0 10px;
            &:checked {
              & + label {
                &:after {
                  content: "Réduire";
                }

                & + div + div + div {
                  .together_bloc {
                  display: block;
                  div {
                    display: initial;
                  }
                  .bot_resume {
                    display: block;
                  }
                  }
                }
              }
            }
          }
        }
      }
    }
    .container .item input[type="checkbox"]:checked + label + div,
    .container .item input[type="checkbox"]:checked + label + div + div + div .together_bloc,
    .container .item input[type="checkbox"]:checked + label + div + div + div .together_bloc div,
    .container .item input[type="checkbox"]:checked + label + div + div + div .together_bloc .bot_resume {
      display: block;
    }
    
        //////////////////// SOUS ITEM

  .sub_item {
    padding: 0 10px;
    margin: 0
  }
  .title_sub {
    width: 100%;
    font-size: 2.1333333333333333VW;
    padding: 0 0 20px 10px;
  }

  .column_one_sub,
  .column_two_sub {
    width: 100%;
    padding-left: 0;
    font-size: 3.733333333333334VW;
  }

  .redirection {
    padding-bottom: 20px;
    justify-content: flex-end;
    font-size: 3.733333333333334VW;
    color: #EDCEAD;
    margin: 20px 9.722222222222223VW 0 9.722222222222223VW;
    p {
      text-align: right;
    }
  }

  .size_line_mob {
    width: 5.066666666666666VW;
    margin-left: 10px;
    display: initial;
  }
  .size_line {
    display: none;
  }

  .bloc_image_texte {
    .title_sub {
      margin: 0;
    }
    .div2 {
      .resume_indications {
        font-size: 3.733333333333334VW;
      }
      .bot_resume {
        display: flex;
      }
    }
    .together_bloc {
      margin-bottom: 10px;
      display: block;

    .image {
        width: 100%;
        min-height: 130px;
        background-size: cover;
        background-position: center;
      }
    .div2 {
      padding: 30px 10px 0 10px;
      color: #FFFFFF;
      transform: translateX(-100%);
      .number {
        font-size: 2.1333333333333333VW;
        padding-bottom: 10px;
      }
      ::v-deep .bloc_resume_indications {
        p {
          width: 100%;
          font-size: 3.733333333333334VW;
        }
      }     
      .bot_resume {
        display: block;
        padding-bottom: 30px;
        .duree {
          font-size: 3.733333333333334VW;
          padding-top: 5.333333333333334VW;
          padding-bottom: 5.333333333333334VW;
        }
        .rdv {
          margin: 0;
          font-size: 6.4VW;
          background-color: #FFFFFF;
          border-radius: 30px;
          color: #EDCEAD;
          p {
            padding: 15px 30px;
            text-align: center;
          }
        }
      }
    }
    
    }
    
  }

    
  ////////////////////////////////////
  }

 //////////////////////////////// UNDER 1700
    @media screen and (max-width: 1080px) {
      .container {
        margin: 0;
        padding-top: 15.733vw;
      }
    }

///////////////////////////////////////////


</style>