<template>

  <!-- Le Menu qui s'ouvre -->
  <div id="goUp" class="menu_w" v-on:mouseleave="mouseOver">
    <div class="header_elements">
        <div class="les_boulettes">  
            <img class="logo_size" src="/img-accueil/logo_black.svg" alt="">         
          <p @click="clicked">
            <img class="close_size" src="/img-accueil/close.svg" alt="">         
          </p>
        </div>
        
      <p v-if="accueil[0]" class="title_under_logo">{{accueil[0].acf.description_logo}}</p>
      <div>
        <ul>
          <li v-for="m in menu" :key="m.id" @click="mouseOver">
            <nuxt-link :to="'/' + m.slug">{{m.title}}</nuxt-link>
          </li>
        </ul>
      </div> 
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
  export default {
    props: ['clicked'],
    props: {
      // Récupère le state de l'App Nav
      menuOpen: Boolean
    },
    computed: {
      ...mapState([
        "accueil",
        "menu", 
      ])
    },

    methods: {
      // Récupère la méthode de l'App Nav
      mouseOver() {
        this.$emit('mouseOver')
      },
      clicked() {
        this.$emit('clicked')
      }
    }
    

  }
</script>

<style lang="scss" scoped>
a {
  color: #3A3A3A;
  position: relative;
}
#goUp {
  display: block;
  position: fixed;
  width: 100vw;
  background-color: #f0f0f0;
  min-height: 46%;
  z-index: 4000000;
  .header_elements {
    position: relative;
    z-index: 1;
    text-align: center;
    color: #3A3A3A;
    min-height: 46%;
    font-size: 1.1111111111111112vw;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #3A3A3A;

      ul {
        padding-left: 0;
        padding-bottom: 98px;
        width: 559px;
        display: flex;
        justify-content: space-around;
        
        li {
          display: inline-block;
        }
      }
    }
    .logo_size {
      width: 14.166666666666666VW;
      padding-top: 4.013888888888889VW;
      display: initial;
      opacity: 1;
      margin: 0 46.59722222222222VW 0 39.30555555555556VW;
    }
    .close_size {
      width: 50px;
      padding-top: 40px;
      display: none;
    }
    .logo_in_black_none {
      display: none;
      width: 43px;
      height: auto;
    }
    .menu_in_black_none {
      display: none;
      width: 43px;
      height: auto;
    }
    .title_under_logo {
      max-width: 18.055555555555554VW;
      left: 6.944444444444445VW;
      margin: 0 44.44444444444444VW;
      text-align: left;
      padding-bottom: 10.416666666666668VW;
      display: inherit;
    }
  }
}


//////////////////////////////// MOBILE

  @media screen and (max-width: 768px) {
     ////////////////////////////////////

#goUp {
  display: block;
  position: fixed;
  width: 100%;
  background-color: #f0f0f0;
  height: 100VW;
  z-index: 4000000;
  padding: 0;
  margin: 0;

  .header_elements {
    position: relative;
    z-index: 1;
    text-align: center;
    color: #3A3A3A;
    min-height: 460px;
    font-size: 1.1111111111111112vw;
    padding: 0;

    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      color: #3A3A3A;

      ul {
        padding-left: 0;
        padding-bottom: 98px;
        width: 100%;
        display: block;
        justify-content: space-around;
        
        li {
          display: block;
          font-size: 4.266666666666667VW;
          padding-bottom: 30px;
        }
      }
    }
    .logo_size {
      width: 54.400000000000006VW;
      padding-top: 40px;
      display: initial;
      margin: 0;
    }
    .close_size {
      width: 50px;
      height: 50px;
      padding: 0;
      margin-top: 40px;
      display: initial;
    }
    .logo_in_black_none {
      display: none;
      width: 43px;
      height: auto;
    }
    .menu_in_black_none {
      display: none;
      width: 43px;
      height: auto;
    }
    .title_under_logo {
      max-width: 100%;
      margin: 0 auto;
      text-align: left;
      position: relative;
      left: 25.333333333333336VW;
      padding-bottom: 25.6VW;
      display: inherit;
      cursor: pointer;
      font-size: 2.1333333333333333VW;
    }
  }
}





    
     ///////////////////////////////////
  }

    //////////////////////////////// UNDER 1466
    @media screen and (min-width: 1466px) {
      .container_header {
        .header_elements {
          .title_under_logo {
            max-width: 260px;
            left: 5.457708049113233VW;
          }
        }
      }
    }

///////////////////////////////////////////
</style>