<template>
<transition name="fade">
  <div class="w_rgpd" v-if="isOpen">
    <div class="content_rgpd">
      <p class="title_rgpd">Nous respectons vos données personnelles</p>
      <p class="description_rgpd">
        En poursuivant notre navigation sur ce site, vous accepterez l'utilisation
        de cookies ou d'autres dispositifs de suivi pour suivre les visites.
        Cliquer ici pour plus d'informations et pour configurer les dispositifs
        de suivi.
      </p>
      <div class="links_bottom" @click="deny">
        <p class="decline">
        Refuser</p>
        <a>
          <div 
          class="accept_arrow" 
          @click="accept"
          >
            <p class="accept">Accepter</p>
            <div class="title_fleche">
              <img class="full_screen_home arrow1" src="/img-accueil/shape-contact.svg" alt="">
              <img class=" full_screen_home arrow2" src="/img-accueil/shape-contact.svg" alt=""> 
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</transition>
</template>

<script>
  export default {
    data() {
      return {
        isOpen: false
      }
    },
    computed: {
      containerPosition() {
        return `cookie--top`;
      },
    },
      created() {
      if (!this.getGDPR() === true) {
        this.isOpen = true;
      }
    },
    methods: {
      getGDPR() {
        if (process.browser) {
          return localStorage.getItem("GDPR:accepted", true);
        }
      },
      accept() {
        if (process.browser) {
          this.isOpen = false;
          localStorage.setItem("GDPR:accepted", true);
        }
      },
      deny() {
        if (process.browser) {
          this.isOpen = false;
          localStorage.setItem("GDPR:accepted", false);
        }
      }
    }
  }
  
</script>

<style lang="scss" scoped>
.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.w_rgpd {
  background-color: #3a3a3a;
  position: fixed;
  top: 11px;
  right: 11px;
  width: 29.166666666666668VW;
  height: 13.194444444444445VW;
  z-index: 9;
  color: #FFFFFF;

  .content_rgpd {
    padding: 1.3888888888888888VW 1.3888888888888888VW 0.9722222222222222VW 1.3888888888888888VW;
    .title_rgpd {
      font-size: 1.1111111111111112VW;
      font-family: "Nanum Myeongjo";
      padding-bottom: 1.6666666666666667VW;
    }
    .description_rgpd {
      font-size: 0.6944444444444444VW;
      padding-bottom: 1.875VW;
    }
    .links_bottom {
      display: flex;
      color: #a9a9a9;
      justify-content: space-between;
      align-items: baseline;
      .decline {
        font-size: 0.9722222222222222VW;
        transition: 2s all;
        cursor: pointer;
      }
      .accept_arrow {
        display: flex;
        cursor: pointer;
        .accept {
          font-size: 2.5VW;
        }
        &:hover .arrow1{
          animation: arrow 0.5s linear forwards;
        }
        &:hover  .arrow2{
          animation: arrow_2 0.5s linear forwards;
        }
        .title_fleche {
          /* margin-left: 20px; */
          position: relative;
          overflow: hidden;
          width: 4.166666666666666VW;
          display: flex;
          .arrow1 {
            width: 1.8055555555555554VW;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          .arrow2 {
            width: 1.8055555555555554VW;
            height: auto;
            position: absolute;
            top: 100%;
            left: 0%;
          }

          &:hover .arrow1{
            animation: arrow 0.5s linear forwards;
          }
          &:hover  .arrow2{
            animation: arrow_2 0.5s linear forwards;
          }
          @keyframes arrow {
            0% {
              top: 50%;
              left: 50%;
            }
            100% {
              top: -100%;
              left: 160%;
            }
          }
          @keyframes arrow_2 {
            0% {
            top: 150%;
            left: -50%;
            }
            100% {
              top: 24%;
              left: 27%;
            }
          }
        }
        
      }
    }
  }
}

/////////////////////////////////////// MOBILE

@media screen and (max-width: 768px) {
  .w_rgpd {
    position: fixed;
    bottom: 0;
    right: 0;
    top: inherit;
    width: 100%;
    height: 50.66666666666667VW;
    .content_rgpd {
    padding: 5.333333333333334VW 4.8VW 0.9722222222222222VW 5.333333333333334VW;
    .title_rgpd {
      font-size: 4.266666666666667VW;
      padding-bottom: 6.4VW;
    }
    .description_rgpd {
      font-size: 2.666666666666667VW;
      padding-bottom: 3.733333333333334VW;
    }
    .links_bottom {
      .decline {
        font-size: 3.733333333333334VW;
      }
      .accept_arrow {
        .accept {
          font-size: 9.6VW;
        }
        &:hover .arrow1{
          animation: arrow 0.5s linear forwards;
        }
        &:hover  .arrow2{
          animation: arrow_2 0.5s linear forwards;
        }
        .title_fleche {
          width: 17.166666666666666VW;
          .arrow1 {
            width: 6.933333333333333VW;
          }
          .arrow2 {
            width: 6.933333333333333VW;
          }
        }
      }
    }
  }
  }
}

</style>