<template>
  <div>
    <div class="w_tarifs" v-if="traitements">
      
        <div class="bloc_image_mob" v-if="pages">
          <div v-for="p in pages" :key="p.id">
            <div v-if="p.slug === 'tarifs'">
              <div class="image" :style="{'background-image': `url(${p.acf.image_droite.url})`}"></div>
            </div>
          </div>
        </div>
    
      <div class="container_tarifs">
        <div class="table">
          <p class="consult_default">La consultation d’esthétique sera facturée 50,00 €</p>
          <div class="soins" v-for="t in traitements" :key="t.id">
            <div v-if="t.acf.explications_traitement.soins">
            <h4>{{t.acf.titre_du_groupe_de_soins}}</h4>
            <div class="border_subsoins">
              <div class="bloc_soin" v-for="s in t.acf.explications_traitement.soins" :key="s.id">
              
              <h2 class="name_soin">{{s.nom_du_soin}}</h2>
              <div class="t_soin">
                <p class="prix">{{s.prix}}</p>
                <p>{{s.par_seringue}}</p>
              </div>
            </div>
          </div>
          </div>
        </div>
        </div>
        <div class="bloc_image" v-if="pages">
          <div v-for="p in pages" :key="p.id">
            <div v-if="p.slug === 'tarifs'">
              <div class="image" :style="{'background-image': `url(${p.acf.image_droite.url})`}"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- CTA -->
      <div class="cta_rdv" v-if="pages">
        <div v-for="p in pages" :key="p.id">
          <div v-if="p.slug === 'tarifs'">
            <nuxt-link :to="p.acf.direction">
              <div class="cta_enveloppe">
                <p>{{p.acf.bouton_prendre_rendez_vous}}</p>
              </div>
            </nuxt-link>
          </div>
        </div>
      </div>
  </div>
</template>

<script>

import { mapState } from 'vuex';
  
  export default {

    computed: {
      ...mapState([
        "traitements",
        "pages"
      ]),
    },
    
  }

</script>

<style lang="scss" scoped>

h1 {
  text-align: center;
}

.bloc_image_mob {
  display: none;
}

.w_tarifs {
  margin: 20px 0 90px 32.5VW;
  color: #3A3A3A;
}

.container_tarifs {
  display: flex;
  .table {
    width: 60%;
    padding-right: 40px;

    .consult_default {
      margin-left: 29px;
      font-weight: 400;
      font-size: 1.3888888888888888VW;
      font-family: "Nanum Myeongjo";
    }
    
    .soins {
      width: 100%;
      margin: 0 auto;
      h4 {
        margin-left: 29px;
        font-weight: 400;
        font-size: 1.1111111111111112VW;
        font-family: "Nanum Myeongjo";
        padding: 60px 0 20px 0;
        border-bottom: 1px solid #3A3A3A;
        display: flex;
        align-items: center;
        &::before {
            display: inline-block;
            content: '';
            -webkit-border-radius: 3.3472222222222222VW;
            border-radius: 3.3472222222222222VW;
            height: 0.3472222222222222VW;
            width: 0.3472222222222222VW;
            margin-right: 1.7361111111111112VW;
            background-color: #EDCEAD;
          }
        }
        .border_subsoins {
          border-left: 1px solid #EDCEAD;
          
        .bloc_soin {
          border-bottom: 1px solid #3A3A3A;
          padding: 30px 0;
          display: flex;
          justify-content: space-between;
          margin-left: 29px;
        
          .name_soin {
            font-weight: 400;
            font-size: 1.3888888888888888VW;
            font-family: "Nanum Myeongjo";
          }
          .t_soin {
            display: flex;
            font-size: 1.1111111111111112VW;
            .prix {
              margin-right: 5px;
            }
          }
        }
        }
      }
    
    }
  }

  .bloc_image {
    display: initial;
    width: 40%;
    margin-top: 60px;
    .image {
      height: 48.611vw;
      background-size: 105%;
      background-position: 0%;
      background-position-x: 0;
      background-repeat: no-repeat;
    }
  }

  .cta_rdv {
    padding: 0 0 60px 0;
    margin: 0 37.5VW;
    text-align:center;
    .cta_enveloppe {
      background-color: #a9a9a9;
      padding: 15px 0;
      border-radius: 30px;
      color: #FFFFFF;
      font-size: 1.6666666666666667VW;
    }
  }

    //////////////////////////////// MOBILE
        @media screen and (max-width: 768px) {
    ////////////////////////////////////

    .w_tarifs {
      margin: 40px 0 0 0 ;
    }

    .container_tarifs {
      display: block;
      padding: 0 10px;
      .table {
        width: 100%;
        padding: 0;   

        .consult_default {
          margin-left: 29px;
          font-size: 5.333333333333334VW;
          padding-top: 40px;
        }

        .soins {
          h4 {
            font-size: 4.266666666666667VW;
            padding: 40px 0 20px 0;
            border-bottom: 1px solid #3A3A3A;
            &::before {
              padding: 0.8944444444444444VW;
              margin: 0 35px 0 10px;
              position: relative;
              top: 0px;
              }
            }
            .border_subsoins {            
            .bloc_soin {
              border-bottom: 1px solid #3A3A3A;
              padding: 30px 0;
              display: flex;
              justify-content: space-between;
              margin-left: 29px;
            
              .name_soin {
                font-size: 5.333333333333334VW;
              }
              .t_soin {
                display: flex;
                font-size: 4.266666666666667VW;
                .prix {
                  margin-right: 5px;
                }
              }
            }
            }
          }
        
        }
      }

      .bloc_image {
        display: none;
      }
      .bloc_image_mob {
        display: block;
        width: 100%;
        margin-top: 0px;
        .image {
          height: 250px;
          background-size: 100%;
          background-position: 0%;
          background-position-x: 0;
          background-repeat: no-repeat;
        }
      }

      .cta_rdv {
        padding: 90px 0 60px 0;
        margin: 0 10px;
        text-align:center;
        .cta_enveloppe {
          background-color: #a9a9a9;
          padding: 15px 0;
          border-radius: 30px;
          color: #FFFFFF;
          font-size: 6.4VW;
        }
      }





       ////////////////////////////////////   
                        }
        ////////////////////////////////////

</style>