<template>
  <div>
    <CmsV2 />
  </div>
</template>

<script>
import CmsV2 from '@/components/CmsV2.vue';
export default {
  layout: 'pages',
  components: {
    CmsV2,
  },

  async fetch({ store }) {
    await store.dispatch('getPages');
    await store.dispatch('getMenu');
    await store.dispatch('getTraitements');
    await store.dispatch('getAccueil');
    await store.dispatch('getFooter');
  },

  data() {
    return {
      slug: this.$route.params.slug,
    };
  },
};
</script>

<style lang="scss" scoped>
</style>
