<template>
  <div>
    <!-- <div class="cursor"></div> -->
    <div v-if="isLoading">
      <Preloader/>
    </div>
    <client-only>
      <Rgpd/>
    </client-only>
    <app-nav/>
    <nuxt />
    <FooterHome/>
  </div>
</template>

<script>
import AppNav from '@/components/AppNav.vue';
import FooterHome from '@/components/FooterHome.vue';
import Rgpd from '@/components/Rgpd.vue';
import Preloader from '@/components/Preloader.vue';

import { mapState, mapMutations } from 'vuex';
export default {
    computed: {
      ...mapState([
        "footer",
        "accueil",
        "isLoading"
      ])
    },
      async fetch({store}) {
      await store.dispatch("getTraitements");
    },
  components: {
    AppNav,
    FooterHome,
    Rgpd, 
    Preloader
  },

  mounted() {
      setTimeout(() => {this.$store.commit("updatePreloader", false)}, 4000);
      // this.cursor();
  },

  methods: {
    // cursor() {
    //   const cursor = document.querySelector('.cursor');

    //   document.addEventListener('mousemove', e => {
    //     cursor.setAttribute("style", "top: "+(e.pageY - 7)+"px; left: "+(e.pageX - 7)+"px")
    //   })
    // }
  }
}
</script>

<style>
html {
  font-family: 'DM Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 1.111vw;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  /* width: 100%;
  overflow: hidden; */
}


.__nuxt {
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 4.267vw;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

a, a:visited, a:active {
  text-decoration: none;
}

img {
  height: auto;
  width: 100%;
}

/* .cursor {
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  z-index: 10;
  transition-duration: 100ms;
  transition-timing-function: ease-out;
} */

</style>
