<template>
  <div class="container">
    <div>
      <h1 v-if="error.statusCode === 404">Page non trouvée</h1>
      <h1 v-else>Oops, erreur de consultation !</h1>
      <nuxt-link to="/">Accueil</nuxt-link>
    </div>  
  </div>
</template>

<script>
export default {
  props: ['error'], 
}
</script>


<style lang="scss" scoped>
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  div {
    text-align: center;
  }
}
h1 {
  padding-bottom: 30px;
}

a {
  margin-left: 20px;
  padding: 20px;
  color: #000;
  border: 1px solid #000;
  text-align: center;
}
</style>