<template>
  <div>
    <app-masthead />
    <ImageTextHome />
  </div>
</template>

<script>
import AppMasthead from '@/components/AppMasthead.vue';
import ImageTextHome from '@/components/ImageTextHome.vue';

export default {
  layout: 'defaut',
  components: {
    AppMasthead,
    ImageTextHome,
  },

  async fetch({ store }) {
    await store.dispatch('getTraitements');
    await store.dispatch('getAccueil');
    await store.dispatch('getMenu');
    await store.dispatch('getFooter');
  },

  head() {
    return {
      title: 'Médecine Esthétique à Montauban - Docteur Philippe Frey',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content:
            'Médecin esthétique, le Docteur Philippe Frey vous accueille dans son cabinet basé à Montauban.',
        },
        {
          hid: 'og:title',
          name: 'og:title',
          content: 'Médecine Esthétique à Montauban - Docteur Philippe Frey',
        },
        {
          hid: 'og:site_name',
          name: 'og:site_name',
          content: 'Médecine Esthétique à Montauban - Docteur Philippe Frey',
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
</style>
