<template>
  <div>
    <FormContact />
  </div>
</template>

<script>
import FormContact from '@/components/FormContact.vue';
export default {
  layout: 'pages',
  components: {
    FormContact,
  },

  async fetch({ store }) {
    await store.dispatch('getTraitements');
    await store.dispatch('getPages');
    await store.dispatch('getMenu');
    await store.dispatch('getAccueil');
    await store.dispatch('getFooter');
  },

  head() {
    return {
      title:
        'Rendez-vous - Médecine Esthétique à Montauban - Docteur Philippe Frey',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content:
            'Spécialisé dans le domaine de la médecine esthétique et anti-âge, le docteur Philippe Frey vous reçoit.',
        },
        {
          hid: 'og:title',
          name: 'og:title',
          content:
            'Rendez-vous - Médecine Esthétique à Montauban - Docteur Philippe Frey',
        },
        {
          hid: 'og:site_name',
          name: 'og:site_name',
          content: 'Médecine Esthétique à Montauban - Docteur Philippe Frey',
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
</style>
