<template>
  <div>
    <TarifsTraitments />
  </div>
</template>

<script>
import TarifsTraitments from '@/components/TarifsTraitments.vue';

export default {
  layout: 'pages',
  components: {
    TarifsTraitments,
  },

  async fetch({ store }) {
    await store.dispatch('getTraitements');
    await store.dispatch('getPages');
    await store.dispatch('getMenu');
    await store.dispatch('getAccueil');
    await store.dispatch('getFooter');
  },

  head() {
    return {
      title: 'Tarifs - Médecine Esthétique à Montauban - Docteur Philippe Frey',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content:
            'Docteur Philippe Frey : Inducteurs tissulaires, acide hyaluronique, peelings, Micro-needling / Mesoift, Traitement de revitalisation ou de lifting par fil. Découvrez les tarifs de médecine esthétique.',
        },
        {
          hid: 'og:title',
          name: 'og:title',
          content:
            'Tarifs - Médecine Esthétique à Montauban - Docteur Philippe Frey',
        },
        {
          hid: 'og:site_name',
          name: 'og:site_name',
          content: 'Médecine Esthétique à Montauban - Docteur Philippe Frey',
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
</style>
